RewriteEngine On
Options -multiviews

RewriteRule ^googlebac.* - [L]
RewriteRule ^stendhal/updates/.* - [L]
RewriteRule ^stendhal/greeting/.* - [L]

RewriteRule ^docs/(gpl.*).html$ /index.php?arianne_url=content/$1&rewrite=3QivnzcY [L]
RewriteRule ^docs/(.*).html$ /index.php?arianne_url=docs/$1&rewrite=3QivnzcY [L]
RewriteRule ^game/index.html$ /index.php?arianne_url=content/games&rewrite=3QivnzcY [L]

RewriteRule ^engine/(.*).html$ /index.php?arianne_url=content/details&name=engine/$1&rewrite=3QivnzcY [L]
RewriteRule ^game/(.*).html$ /index.php?arianne_url=content/details&name=game/$1&rewrite=3QivnzcY [L]
RewriteRule ^tool/(.*).html$ /index.php?arianne_url=content/details&name=tool/$1&rewrite=3QivnzcY [L]
RewriteRule ^client/(.*).html$ /index.php?arianne_url=content/details&name=client/$1&rewrite=3QivnzcY [L]

RewriteRule ^news/(.*).html$ /index.php?arianne_url=content/news&title=$1&rewrite=3QivnzcY [L]
RewriteRule ^(.*)-all.html$ /index.php?show_archive=1&arianne_url=content/$1&rewrite=3QivnzcY [L]
RewriteRule ^(.*)-archived.html$ /index.php?show_archive=1&arianne_url=content/$1&archived=1&rewrite=3QivnzcY [L]

RewriteRule ^download/(.*)$ /download.php?file=$1&rewrite=3QivnzcY [L]
RewriteRule ^stendhal/greeting/(.*)/(.*).html$ /greeting.php?product=stendhal&from=$1&to=$2&rewrite=3QivnzcY [L]

RewruiteRule ^versioncheck/(.*)/(.*)/(.*)/(.*) /versioncheck.php?gamename=$1&server=$2&port=$3&version=$4&rewrite=3QivnzcY [L]

RewriteRule ^(.*).html$ /index.php?arianne_url=content/$1&rewrite=3QivnzcY [L]

RewriteRule ^rss/news.rss$ /index.php?arianne_url=content/rss&rewrite=3QivnzcY [L]


RewriteCond %{QUERY_STRING} rewrite=3QivnzcY
RewriteRule .* - [L]

RewriteCond %{QUERY_STRING} show_archive=1
RewriteCond %{QUERY_STRING} arianne_url=content/([^&]*)
RewriteRule .* /%1-all.html? [R=301,L]

RewriteCond %{QUERY_STRING} archived=1
RewriteCond %{QUERY_STRING} arianne_url=content/([^&]*)
RewriteRule .* /%1-archived.html? [R=301,L]

RewriteCond %{QUERY_STRING} arianne_url=content/([^&]*)
RewriteRule .* /%1.html? [R=301,L]

RewriteCond %{QUERY_STRING} arianne_url=games/game_([^&]*)
RewriteRule .* /game/%1.html? [R=301]

RewriteCond %{QUERY_STRING} arianne_url=tools/tool_([^&]*)
RewriteRule .* /tool/%1.html? [R=301]

RewriteCond %{QUERY_STRING} arianne_url=servers/server_([^&]*)
RewriteRule .* /engine/%1.html? [R=301]
