RewriteEngine On
Options -multiviews


RewriteRule ^docs/(.*).html$ index.php?arianne_url=docs/$1&rewrite=3QivnzcY [L]
RewriteRule ^engine/(.*).html$ index.php?arianne_url=servers/server_$1&rewrite=3QivnzcY [L]
RewriteRule ^game/index.html$ index.php?arianne_url=content/games&rewrite=3QivnzcY [L]
RewriteRule ^game/(.*).html$ index.php?arianne_url=games/game_$1&rewrite=3QivnzcY [L]
RewriteRule ^tool/(.*).html$ index.php?arianne_url=tools/tool_$1&rewrite=3QivnzcY [L]
RewriteRule ^client/(.*).html$ index.php?arianne_url=clients/client_$1&rewrite=3QivnzcY [L]
RewriteRule ^news/(.*).html$ index.php?arianne_url=content/news&title=$1&rewrite=3QivnzcY [L]
RewriteRule ^(.*)-all.html$ index.php?show_archive=1&arianne_url=content/$1&rewrite=3QivnzcY [L]
RewriteRule ^(.*).html$ index.php?arianne_url=content/$1&rewrite=3QivnzcY [L]


RewriteCond %{QUERY_STRING} !rewrite=3QivnzcY
RewriteCond %{QUERY_STRING} show_archive=1
RewriteCond %{QUERY_STRING} arianne_url=content/([^&]*)
RewriteRule ^.* %1-all.html? [R=301,L]

RewriteCond %{QUERY_STRING} !rewrite=3QivnzcY
RewriteCond %{QUERY_STRING} arianne_url=content/([^&]*)
RewriteRule ^.* %1.html? [R=301,L]

RewriteCond %{QUERY_STRING} !rewrite=3QivnzcY
RewriteCond %{QUERY_STRING} arianne_url=games/game_([^&]*)
RewriteRule ^.* /game/%1.html? [R=301]

RewriteCond %{QUERY_STRING} !rewrite=3QivnzcY
RewriteCond %{QUERY_STRING} arianne_url=tools/tool_([^&]*)
RewriteRule ^.* /tool/%1.html? [R=301]

RewriteCond %{QUERY_STRING} !rewrite=3QivnzcY
RewriteCond %{QUERY_STRING} arianne_url=servers/server_([^&]*)
RewriteRule ^.* /engine/%1.html? [R=301]
