RewriteEngine On
RewriteRule greeting/(.*)/(.*)\.html$ /stendhal/greeting.php?product=stendhal&from=$1&to=$2&rewrite=3QivnzcY [L]
RewriteRule pad_file.xml$ /stendhal/pad_file.xml.php?rewrite=3QivnzcY [L]
